.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.paragraph {
  text-align: justify;
}

img {
  max-width: 200px;
  margin-right: 20px;
}
