body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
  position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
  }

  main {
    min-height: calc(100vh - 50px); /* Altezza minima pari all'altezza dello schermo meno l'altezza dell'header */
    padding: 20px; /* Ad esempio, padding per evitare che i contenuti si attacchino ai bordi */
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .menu {
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu ul li a {
    font-weight: bold; /* rendi i link in grassetto */
    color: black; /* rendi i link neri */
    text-decoration: none; /* rimuovi sottolineatura */
  }
  
  .menu ul li a:hover, /* Cambia colore al passaggio del mouse */
  .menu ul li a:active { /* Cambia colore quando viene cliccato */
    color: rgb(0, 81, 255); /* rendi i link gialli */
  }
  
  .container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
    color: rgb(0, 81, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  h3 {
    margin-top: 100px;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }

  h5 {
    margin-top: 2px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }

  .row {
    display: flex;
    justify-content: center;
  }
  
  .column {
    flex: 0 0 20%;
    padding: 10px;
    text-align: center;
  }
  
  .column img {
    max-width: 70%;
  }
  
  .column p {
    margin-top: 7px;
  }

  .contact-info {
    font-size: 30px;
  }

  .social-icons a {
    margin: 100px;
    text-align: center;/* Aggiunge uno spazio di 10px tra le immagini */
  }
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 200px;
    clear: both; 
  }
  
  
  .footer-email {
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    clear: both; 
  }
  
  .footer-copyright {
    margin-top: 50px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    clear: both; 
  }

  footer img {
    width: 60px; /* Dimensioni desiderate */
    height: auto; /* Mantieni l'aspect ratio */
    float: right;
    margin-right: 100px;
    clear: both; 
}
  
  .profile-image {
    margin-top: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Rende l'immagine rotonda */
  }

  .chisono {
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
  }

  .infosocial {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
  }

.login-container {
  position: relative; /* Importante per il posizionamento assoluto del logo */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-logo {
  position: absolute;
  top: calc(50% - 220px); /* Metà altezza della finestra - altezza del logo */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid #ccc; /* Bordo del logo */
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombra del logo */
}

.login-box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 50px;
  width: 400px;
}

.login-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

  
  .input-box {
    margin-bottom: 20px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .remember-me,
  .forgot-password,
  .register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .checkbox-label {
    margin-left: 5px;
  }
  
  .forgot-password-link,
  .register-link-text {
    font-weight: bold;
    text-decoration: none;
    color: blue;
  }
  
  .forgot-password-link:hover,
  .register-link-text:hover {
    text-decoration: underline;
  }

  .login-button {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(0, 81, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: rgb(78, 129, 241);
  }




  .torna-button {
    display: block;
    margin: 20px auto; /* Centra il pulsante orizzontalmente e aggiunge margine sopra e sotto */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 100px ;
    width: 500px; /* Dimensioni desiderate */
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(0, 81, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .torna-button:hover {
    background-color: rgb(78, 129, 241);
  }




  .crea-button {
    display: block;
    margin: 20px auto; /* Centra il pulsante orizzontalmente e aggiunge margine sopra e sotto */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 50px ;
    margin-bottom: -50px ;
    width: 500px; /* Dimensioni desiderate */
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(0, 81, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .crea-button:hover {
    background-color: rgb(78, 129, 241);
  }



  .step-title1 {
    margin-top: 50px;
    float: left;
    text-align: justify;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
  .step-description1 {
    float: left;
    height: 100%; 
    width: 60%; 
    font-size: larger; 
    text-align: justify;
    margin-left: 100px;
    margin-bottom: 50px;
  
  }
  .step-image1 {
    float: right; 
    width: 20%; 
    margin-right: 6%;  
    border-radius: 20px;
    margin-bottom: 50px;
  
  }

  
  .step-title2 {
    margin-top: 50px;
    float: right;
    text-align: justify;
    font-size: 24px;
    margin-bottom: 10px;
    margin-right: 100px;
  }
  .step-description2 {
    float: right;
    height: 100%; 
    width: 60%; 
    font-size: larger; 
    text-align: justify;
    margin-right: 100px;
    margin-bottom: 50px;
    
    
  }
  .step-image2 {
    float: left; 
    width: 20%; 
    margin-left: 6%;  
    border-radius: 20px;
    margin-bottom: 50px;
  
  }

.tornasu {
    width: 3%;
    height: 3%;
    position: fixed;
    bottom: 20px; /* Distanza dal fondo dello schermo */
    right: 20px; /* Distanza dalla destra dello schermo */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}
